.movie-card {
    width: 180px; /* Increased width for better visual */
    height: 250px; /* Increased height for better visual */
    padding: 15px;
    text-align: center;
    background-color: #333;
    border-radius: 10px;
    flex-shrink: 0;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease; /* Smooth transform effect */
  }
  
  .movie-card:hover {
    transform: scale(1.05); /* Subtle zoom effect on hover */
  }
  
  .movie-card p {
    font-size: 1rem;
    color: white;
    font-weight: bold;
    word-wrap: break-word;
    margin: 0;
  }