/* Navbar Styles */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    background-color:var(--background-secondary);
    ;
    color: var(--text-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }
  
  /* Logo */
  .navbar .logo {
    font-size: 2rem;
    font-weight: bold;
    color: #e50914;
    cursor: pointer;
    font-family: 'Bebas Neue', sans-serif;  /* Applying the font */
    text-decoration: none;  /* Remove underline */
  }
  
  /* Navbar Links */
  .navbar .nav-links {
    display: flex;
    gap: 20px;
    font-size: 1rem;
    align-items: center;
  }

  .categories-dropdown {
    position: relative;
    display: inline-block;
    height: 100%;
    align-self: center;
  }
  
  .categories-button {
    background: none;
    border: none;
    color: var(--text-primary);
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0;
    margin: 0;
    height: 100%;
    transition: color 0.3s ease;
  }
  
  .categories-button:hover {
    color: #e50914;
  }
  
/* Align categories menu position */
.categories-menu {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  background-color: var(--background-secondary);
  min-width: 200px;
  border-radius: 4px;
  padding: 8px 0;
  box-shadow: var(--background-BACK);
  z-index: 1000;
}
  
  .category-item {
    display: block;
    width: 100%;
    padding: 10px 20px;
    text-align: left;
    background: none;
    border: none;
    color: var(--text-primary);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .category-item:hover {
    background-color: #e50914;
    color: var(--text-primary);
  }
  
  .navbar .nav-links a {
    color: var(--text-primary);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .navbar .nav-links a:hover {
    color: #e50914; /* Highlight on hover */
  }
  
  /* Profile and Search Icons Container */
  .navbar .profile-and-search {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  /* Search Icon */
  .navbar .search-icon {
    font-size: 1.5rem;
    color: var(--text-primary);
    cursor: pointer;
    margin-right: 15px;  /* Add space between search icon and profile picture */
  }

  .navbar .search-icon:hover {
    transform: scale(1.1); /* Subtle zoom effect on hover */
  }

  /* Search Container */
.search-container {
    display: flex;
    align-items: center;
    position: relative;
  }

  .search-panel {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 0px; /* Space between search icon and search panel */
    margin-right: 10px; /* Space between search panel and profile picture */
  }
  
  .search-panel form {
    display: flex;
    align-items: center;
  }
  
  .search-panel input {
    padding: 5px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .search-panel button {
    padding: 5px 10px;
    font-size: 1rem;
    background-color: #e50914;
    color: var(--text-primary);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-panel button:hover {
    background-color: #f40612;
  }

  /* No results toast */
.no-results-toast {
    position: absolute;
    top: 100%; /* Position it below the search panel */
    left: 0;
    right: 0;
    padding: 5px;
    background-color: #858585;
    color: var(--text-primary);
    border-radius: 4px;
    text-align: center;
    font-size: 0.9rem; /* Adjusted font size to make it thinner */
  }
  
  /* Profile Icon */
/* Profile Icon */
.navbar .profile-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 25px; /* Add space between search icon and profile picture */
}

.navbar .profile-icon:hover img {
  transform: scale(1.1); /* Subtle zoom effect on hover */
}

.navbar .profile-icon .profile-details {
  display: flex;
  align-items: center;
}

.navbar .profile-icon img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: var(--text-primary);
  margin-left: 10px; /* Add space between the text and the image */
}

.navbar .profile-icon .username {
  font-size: 14px;
  font-weight: bold;
  color: var(--text-primary);
  margin: 0; /* Remove default margin for text */
  line-height: 1; /* Ensure text is vertically centered */
}

  /* Dropdown Menu */
.dropdown-menu {
    position: absolute;
    top: 45px; /* Adjust based on your navbar height */
    right: 20px;
    background-color: var(--background-secondary);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    z-index: 1000;
  }
  
  .dropdown-menu a {
    display: block;
    padding: 10px 20px;
    color: var(--text-primary);
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-menu a:hover {
    background-color: #444;
  }
  