.random-movie {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 22px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.random-movie .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.movie-player-wrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
}

/* Button Container */
.random-movie .buttons-container {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

/* Button Styling */
.random-movie button {
  padding: 10px 16px;
  font-size: 1rem;
  color: #000000;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 2;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.buttons-container {
  position: relative;
  z-index: 2;
  display: flex;
  gap: 20px;
}

/* Button Hover Effect */
.random-movie button:hover {
  background-color: #545454;
  transform: scale(1.05);
}

/* Icon Styling */
.random-movie .play-icon,
.random-movie .info-icon {
  font-size: 1.5rem;
  margin-right: 10px;
}

.random-movie-info h2 {
  position: relative;
  z-index: 3;              /* Ensure it's higher than other elements */
  color: rgb(255, 255, 255);
  font-size: 2.5rem;       /* Adjust size as needed */
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);  /* Makes text more readable */
  font-family: 'Arial Black', sans-serif;  /* Adds a bold, impactful font */
  letter-spacing: 2px;    /* Adds spacing between letters */
  animation: glow 1.5s infinite alternate; /* Adds a glowing animation */
  margin-bottom: 20px; /* Adds space below the title */
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.7), 0 0 30px rgba(255, 255, 255, 0.7);
  }
  to {
    text-shadow: 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1), 0 0 40px rgba(255, 255, 255, 1);
  }
}

.random-movie-info {
  position: absolute;
  bottom: 60px; /* Adjusts the distance from the bottom */
  left: 20px;   /* Adjusts the distance from the left */
  width: 40%; /* Adjusts the width to be only part of the left */
  color: white;
  background: rgba(0, 0, 0, 0.3); /* Slight dark overlay */
  z-index: 2; /* Ensure it appears above the video */
  text-align: left; /* Aligns text to the left */
  padding: 10px; /* Adds some padding for better readability */
}

.random-movie-info p {
  margin-top: 0; /* Removes the top margin */
  font-size: 1.5rem; /* Adjust size as needed */
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Makes text more readable */
  font-family: 'Arial', sans-serif; /* Adds a readable font */
  letter-spacing: 1px; /* Adds spacing between letters */
}
